
{% load staticfiles %}
{% load static %}

<header>
    <div class="header">
        <div class="logo">
            <a href="#">
                <img src="{% static 'main/images/needed.png' %}"
                    alt="logo"
                    style="width:90px;height:80px;"

                />
            </a>
        </div>
        <div class="navigation">
            <input type="checkbox" class="toggle-menu">
            <div class="hamburger"></div>
            <ul class="menu">
                <li>
                    <a style="text-decoration:none;color:white;" href="{% url "main:all_users" %}">
                        <h6>Users</h6>
                    </a>
                </li>
                <li>
                    <a style="text-decoration:none;color:white;" href="{% url "main:admin_logout" %}">
                        <h6>Logout</h6>
                    </a>
                </li>
                <li>
                    <a style="text-decoration:none;color:white;">
                        <span style="font-size: 10px;">
                            <i class="fa fa-user fa-2x">
                                admin
                            </i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>


