<div class="col-lg-3 col-md-3 col-sm-3" style="background-color:#03045e;
    height: 100vh;
">
    <div style="height:60px;margin-top: 5px;padding: 20px;">
        
            <h4 style="color:white;font-weight: bold;">
                Get Started
            </h4>
    </div>
    <hr />
    <span>
        <i class="fa fa-lock fa-1x" style="color:white;padding:2px 30px;">
            Create Profile
            <!--<i class="fa fa-chevron-circle-right" 
                aria-hidden="true" style="color:blue;margin-left: 120px;
            "></i>-->
            
        </i>
    </span>
    <hr />
    <span>
        <a href="{% url "main:deposit" %}">
            <i class="fa fa-money fa-1x" style="color:white;padding: 2px 30px;">
                Deposit</i>
        </a>
        
    </span>
    <hr />
    <span>
        <i class="fa fa-credit-card-alt" aria-hidden="true" style="color:white;padding: 2px 30px;">
            Withdraw</i>
    </span>
    <hr />
    <span>
        <i class="fa fa-repeat fa-1x" style="color:white;padding: 2px 30px;">
            Referrals</i>
    </span>
    <hr />
</div>