{% extends "main/base.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
    <section>
        {% include "main/snippets/dashtop.html" with instance=obj %}
        <div style="display:flex;flex-direction:row;">
            {% include "main/snippets/sidepanel.html" with registered=registered %}
            <div class="col col col" style="padding:40px;
                padding:30px;
                background-repeat: no-repeat;
                background-image: url(../../static/main/images/conc.jpg);
                background-size: 100% 100%;
            "
            >
                <div class="get_mo">
                    <div class="benjie">
                        <h4>
                           Change Password
                        </h4>
                        <button  style="background-color:#0081B4;height: 40px;
                            border: 2px solid #0081B4;border-radius: 8px;color: white;
                            width:20%;
                        " onclick="history.back()">
                            Back
                        </button>

                    </div>
                    {% for msg  in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert"  data-closable>
                            <strong>{{ msg }}</strong>
                            <button class="close-button" aria-label="Close alert" type="button" data-close>
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                    <div class="mynor">
                            <form class="gogo_new" method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button class="button is-success is-fullwidth  mt-3"
                                    type="submit" style="width:300px;height: 40px;
                                    border:2px solid solid;font-weight: bold;
                                    font-family: DM Sans,sans-serif;
                                    background-color: green;margin-top: 30px;
                                    border-radius:5px;
                                    font-size: 12px;color: white;
                                ">
                                    Update Password
                                </button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}