{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        {% include "main/snippets/dashtop.html" with instance=obj %}
        <div style="padding: 200px 400px;">
            <h2 style="text-align: center;font-size: 40px;">ERROR 404, Page Not Found</h2>
            <a href="{%  url "main:dash" %}">
                <button  style="background-color:green;height: 40px;
                    border: 2px solid green;border-radius: 8px;color: white;
                    font-weight: bold;
                ">
                    Go to Dashboard
                </button>
            </a>
        </div>
    </div>
{% endblock %}