{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <div>
        {% include "main/snippets/dashtop.html" with instance=obj %}
        <div class="man_404">
            <h2 style="text-align: center;font-size: 70px;font-weight:bold;">
                404
            </h2>
            <p style="text-align:center;font-size:20px;">
                Ooh Sorry it seems you clicked a wrong path, The page you are
                looking for Doesnot Exist
            </p>
            {% if request.user.is_authenticated %}
                <a href="{% url 'main:dash' %}">
                    <button class="mybut" style="background-color:green;height: 40px;
                        border: 2px solid green;border-radius: 8px;color: white;
                        font-weight: bold;"
                    >
                        Dashboard
                    </button>
                </a>
            {% else %}
                <a>
                    <button class="mybut" style="background-color:green;height: 40px;
                        border: 2px solid green;border-radius: 8px;color: white;
                        font-weight: bold;
                        "  onclick="history.back()"
                    >
                        Go Back
                    </button>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}