{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <section>
        {% include "main/snippets/dashtop.html" with instance=obj %}
        <div style="display:flex;flex-direction:row;">
            {% include "main/snippets/sidepanel.html" with registered=registered %}
            <div class="col col col" style="padding:40px;
                padding:30px;
                background-repeat: no-repeat;
                background-image: url(../../static/main/images/conc.jpg);
                background-size: 100% 100%;
            "
            >
                <div class="with_back">
                    <h4 style="
                        font-size: 27px;text-align: center;">
                        Choose Package
                    </h4>
                    <div class="aftersize">
                        <a href="{% url "main:silver" %}">
                            <div class="rowneed">
                                <h4>Silver</h4>
                                <h2 style="color:blue;">UGX: 10000</h2>
                            </div>
                        </a>
                        <!--
                             <a href="{% url "main:gold" %}">
                                <div class="rowneed">
                                    <h4>Gold</h4>
                                    <h2 style="color:blue;">UGX: 50000</h2>
                                </div>
                            </a>
                        -->

                        <a href="{% url "main:platinum" %}">
                            <div class="rowneed">
                                <h4>Gold</h4>
                                <h2 style="color:blue;">20K and above</h2>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}