{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <section>
        {% include "main/snippets/dashtop.html" with instance=user %}
        <div style="display:flex;flex-direction:row;">
            {% include "main/snippets/sidepanel.html" %}
            <div class="col col col" style="padding:40px;"
            >
                <div style="background-color: #DBECF4;
                    height: 90vh;width:98%;padding: 10px 20px;"
                >

                    <div class="jenji">
                        <h4>
                            My Referrals
                        </h4>
                        <a style="text-decoration:none;" href="{% url "main:dash" %}">
                            <button  style="background-color:#00befa;height: 40px;
                                border: 2px solid #00befa;border-radius: 8px;color: white;
                            ">
                                Dashboard
                            </button>
                        </a>

                    </div>
                    <div class="row" style="margin-top: 22px;padding:20px 20px;">
                        <div class="col-lg-6 col-md-6 col-sm-6 jago"
                            style="background-color:whitesmoke;padding: 20px;">
                            <h4 style="color:blue;">Direct Referrals</h4>
                            {% if exist %}
                                <table style="width:100%; padding:50px 100px;">
                                    <tr style="height:50px;font-size: 22px;">
                                        <th >Username</th>
                                        <th>Status</th>
                                    </tr>

                                    {% for user in children %}
                                        <tr>
                                            <td>{{ user.username }}</td>
                                            {% if user.paid %}
                                                <td style="color:green;font-weight: bold;">{{ user.account_type }}</td>
                                            {% else %}
                                                <td style="color:red;font-weight: bold;">Account inactive</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    <hr>
                                </table>
                            {% else %}
                                <h7>No direct referrals yet </h7>
                            {% endif %}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 jaga"
                            style="background-color:whitesmoke;padding: 20px;">
                            <h4 style="color:blue;">Indirect Referrals</h4>
                            {% if exist %}
                                <table style="width:100%; padding:50px 100px;">
                                    <tr style="height:50px;font-size: 22px;">
                                        <th >Username</th>
                                        <th>Status</th>
                                    </tr>

                                    {% for user in grand_children %}
                                        <tr>
                                            <td>{{ user.username }}</td>
                                            {% if user.paid %}
                                                <td style="color:green;font-weight: bold;">
                                                    {{ user.account_type }}
                                                </td>
                                            {% else %}
                                                <td style="color:red;font-weight: bold;">Account inactive</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    <hr>
                                </table>
                            {% else %}
                                <h7>No Indirect referrals yet </h7>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}